		*
		{
		 margin:0;
		 border:border-box;
		}
		.navbar
		{
		 height:60px;
		 background-color:#0f1111;
		 color:white;
		 display:flex;
		 align-items:center;
		 justify-content:space-evenly;
		} 
		.navlogo
		{
		 width:100px;
		 height:60px;
		 margin-top:2px;
	 	 margin-bottom:1px;
		}
		.logo
		{
		 width:100%;
		 height:50px;
		}
		.navaddress
		{
		 width:213.5px;
		 height:50px;
		}
		.map
		{
		 width:15px;
		 height:17.99px;
		 margin:8px 0px 0px;
		 display:flex;
		} 
		.border
		{
		 border:2x solid transparent;
		}
		.border:hover
		{
		 border:solid 1.5px white;
		}
		.one
		{
		 color:#cccccc;
		 font:12px Arial,sans-serif;
		 align
    		 margin-top: 0;
   		 padding-right: 0;
		}
		.two
		{
		 color:#ffffff;
		 font:14px Arial,sans-serif;
		 margin-top: 0;
   		 padding:0px 0px 1px;
		}
		.navsearch
		{
		 width:650px;
		 height:40px;
		 justify-content:space-evenly;
		 display:flex;
		 background-color:orange;
		 border-radius:4px;
		}
		.searchselect
		{
		 background-color:#f3f3f3;
		 width:50px;
		 text-align:center;
		 border-top-left-radius:4px;
		 border-bottom-left-radius:4px;
	 	 border:none;
		}
		.searchinput
		{
		 width:100%;
		 font-size:1rem;
	 	 border:none;
		}
		.searchicon
		{
		 display:flex;
		 align-items:center;
		 height:40px;
		 width:45px;
		 font-size:1.2rem;	
		 justify-content:center;
		 color:black;
		}
		.navtwor
		{ 
		 color:#ffffff;
		 font:14px Arial,sans-serif;
		}
		.navoner
		{ 
		 color:#ffffff;
		 font:12px Arial,sans-serif;
		 width:70.41px;
		 height:14px;
		}
		.cart i
		{ 
		 font-size:30px;
   		}
		.navcart
		{
		 color:#ffffff;
		 font:12px Arial,sans-serif;
 		 font-weight:550;
		}
		.navflag
		{
		 display:flex;
		 width:80.5px;
		 height:50px;
		 align-items:center;
		}
		.flag
		{
		 width:21.6;
		 height:16.2px;
		 margin-right:10px;
		}
		.select
		{
		 margin-left:10px;
		 font:14px Arial,sans-serif;
		}		
		.language
		{
		 background-color:black;
		}
		.pannel
		{
		 height:40px;
		 background-color:#222f3d;
		 color:white;
		 align-items:center;
		 justify-content:space-evenly;
		 display:flex;
		} 
		.pannelb
		{
	         width:70%;
		}
		.pannelb p
		{
		 font:15px Arial,sans-serif;
		 display:inline;
		 margin-left:15px;
		}
		.amazonbody
		{
		height:100vh;
		width:100%;
		overflow-y:scroll;
		overflow-x:hidden;
		}
		.amazonbody::-webkit-scrollbar
		{
		display:none;
		}
		.main1
		{
		 background-image:url("./assets/main.jpg");
		 background-size:cover;
		 height:400px;
	         width:100vw;
		 border:2px solid transparent;
		}
		.shop
		{
		 justify-content:space-evenly;
		 display:flex;
		 width:100%;
		 
		}
		.box
		{
		 margin-left:15px;
		 border:2px solid transparent;
		 height:420px;
		 width:100%;
		 background-color:white;
		 margin-right:25px;
		}
		.offer
		{
		 margin-top:20px;
		}
		.div1
		{
		 display:flex;
		 margin-left:15px;
		 margin-top:15px;
		}
		.boat1
		{
		 background-size:cover;
		 width:145px;
		 height:105px;
		}
		.boat2
		{
		 
		 background-size:cover;
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.div2
		{
		 display:flex;
		 margin-top:20px;
		 
		}
		.boat3
		{
		 width:145px;
		 height:105px;
		}
		.boat4
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.h2
		{
		 font-family:Arial,sans-serif;
		}
		.cloth
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.bag
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.foot
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.watch
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tv32
		{
		 background-image:url("32.jpg");
		 background-size:cover;
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tv43
		{
		 background-image:url("43.jpg");
		 background-size:cover;
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tv55
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tv65
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.rack
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.storage
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.cook
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.bottle
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.shopa
		{
		 margin-top:20px;
		 justify-content:space-evenly;
		 display:flex;
		 background-color:#f2dadf;
		 width:100%;
		 margin-right:15px;
		}
		.spin
		{
		 margin-left:8px;
		 width:145px;
		 height:105px;
		}
		.bath
		{
		 margin-left:10px;
		 width:145px;
		 height:105px;
		}
		.hammer
		{
		 margin-left:10px;
		 width:145px;
		 height:105px;
		}
		.extension
		{
		 margin-left:10px;
		 width:145px;
		 height:105px;
		}
		.women
		{
		 margin-left:12px;
		 width:145px;
		 height:105px;
		}
		.handbag
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.watches
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.jewellery
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.cleaning
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tyre
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.helmet
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.vaccum
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.tools
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.measuring
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.supplies
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.medical
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;

		}
		.shopb
		{
		 margin-top:30px;
		 margin-right:20px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:350px;
		 width:97%;
		 background-color:white;		 
		}
		.dealhead
		{
		 margin-left:15px;
		 margin-top:20px;
		 margin-down:20px;
		 height:45px;
		 width:97%;
		 background-color:white;
		 border:2px solid white ;
		 align-items:center;
		 font-family:Arial,sans-serif;
		 font-size:0.9rem;
		}
		.dealitems
		{
		 margin-right:40px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:270px;
		 width:97%;
		 background-color:white;
		 display:flex;
		 overflow-x:scroll;
		}
		.dealitems::-webkit-scrollbar
		{
		 display:none;
		}
		.deal
		{
		 height:210px;
		 width:250px;
		 background-color:white;
		 margin-right:20px;
		 margin-top:20px;
		 align-items:center;
		}
		.dealcss
		{
		 height:250px;
		 width:155px;
		 margin-right:20px;
		 margin-left:20px;
		 margin-top:20px;
		 background-size:cover;
		}
		.deal1
		{
		 height:173px;
		 width:130px;
		}
		.deal2
		{
		 height:173px;
		 width:153px;
		}
		.deal3
		{
		 height:173px;
		 width:188px;
		}
		.deal4
		{
		 height:173px;
		 width:160px;
		}
		.deal5
		{
		 height:173px;
		 width:129px;
		}
		.deal6
		{
		 height:200px;
		 width:183px;
		}
		.deal7
		{
		 height:170px;
		 width:153px;
		}

		.deal8
		{
		 height:165px;
		 width:83px;
		}
		.deal9
		{
		 height:165px;
		 width:83px;
		}
		.deal10
		{
		 height:165px;
		 width:83px;
		}

		.shopc
		{
		 margin-top:30px;
		 margin-right:20px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:320px;
		 width:97%;
		 background-color:white;
		}

		.dealc
		{
		 border:2px solid white;
		 background-color:white;
		 height:260px;
		 width:97%;
		 display:flex;
		 margin-left:10px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.dealc::-webkit-scrollbar
		{
		 display:none;
		}
		.dealcitems
		{
		
		 background-color:white;
		 margin-right:10px;
		 margin-top:20px;
		 align-items:center;
		}
		.css
		{
		 margin-left:10px;
		
		 background-size:cover;
		}
		.dealc1
		{
		 height:173px;
		 width:180px;
		}
		.dealc2
		{
		 height:173px;
		 width:190px;
		}
		.dealc3
		{
		 height:173px;
		 width:230px;
		}
		.dealc4
		{
		 height:173px;
		 width:150px;
		}
		.dealc5
		{
		 height:173px;
		 width:180px;
		}
		.dealc6
		{
		 height:173px;
		 width:250px;
		}
		.dealc7
		{
		 height:173px;
		 width:200px;
		}
		.dealc8
		{
		 height:173px;
		 width:200px;
		}
		.dealc9
		{
		 height:173px;
		 width:200px;
		}
		.dealc10
		{
		 height:173px;
		 width:200px;
		}
		.shopd
		{
		 margin-top:30px;
		 margin-right:20px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:300px;
		 width:97%;
		 background-color:white;
		}
		.deald
		{
		 border:2px solid white;
		 background-color:white;
		 height:230px;
		 width:97%;
		 display:flex;
		 margin-left:10px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.dealditems
		{
		 border:2px solid white ;
		 width:365px;
		 height:250px;
		 background-color:white;
		 margin-right:10px;
		 margin-top:0px;
		}
		.deald::-webkit-scrollbar
		{
		 display:none;
		}
		.cssd
		{
		 height:240px;
		 margin-left:10px;
		 border:2px solid white ;
		}
		
		.deald1
		{
		 height:240px;
		 width:130px;
		}
		.deald2
		{
		 height:240px;
		 width:130px;
		}
		.deald3
		{
		 height:240px;
		 width:130px;
		}
		.deald4
		{
		 height:240px;
		 width:130px;
		}
		.shope
		{
		 justify-content:space-evenly;
		 display:flex;
		 width:98%;
		 margin-top:20px;
		}
		.boxe
		{
		 margin-left:20px;
		 border:2px solid white;
		 height:500px;
		 width:100%;
		 background-color:white;
		 border:transparent;
		}
		.offer
		{
		 margin-top:20px;
		}
		.div1ea
		{
		 display:flex;
		 margin-left:60px;
		 margin-top:5px;
		 margin-right:0px;
		}
		.shope1a
		{
		 width:75px;
		 height:200px;
		}
		.shope1b
		{
		 width:125px;
		 height:165px;
		}
		.shope1c
		{
		 width:95px;
		 height:195px;
		}
		.shope1d
		{
		 width:90px;
		 height:295px;
		}
		.div2ea
		{
		 display:flex;
		 margin-left:40px;
		 margin-top:5px;
		 margin-right:0px;
		}
		.shope2a
		{
		 width:75px;
		 height:170px;
		}
		.shope2b
		{
		 width:165px;
		 height:115px;
		}
		.shope2c
		{
		 width:75px;
		 height:175px;
		}
		.shope2d
		{
		 width:165px;
		 height:95px;
		}
		.div3e
		{
		 margin-left:20px;
		 margin-top:15px;
		 margin-right:10px;
		 margin-bottom:20px;
		 width:325px;
		 height:340px;
		}
		.div4ea
		{
		 display:flex;
		 margin-left:30px;
		 margin-top:50px;
		 margin-right:20px;
		}
		.e4a
		{
		 width:155px;
		 height:80px;
		 margin-bottom:20px;
		}
		.e4b
		{
		 width:155px;
		 height:80px;
  		 margin-bottom:20px;
		}
		.e4c
		{;
		 width:155px;
		 height:80px;
		 margin-bottom:20px;
		}
		.e4d
		{
		 width:155px;
		 height:80px;
		 margin-bottom:20px;
		}
		.shopf
		{
		 margin-top:30px;
		 margin-right:40px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:360px;
		 width:97%;
		 background-color:white;
		}
		.dealf
		{
		 border:2px solid white;
		 background-color:white;
		 height:300px;
		 width:97%;
		 display:flex;
		 margin-left:10px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.dealf::-webkit-scrollbar
		{
		 display:none;
		}
		.dealfitems
		{
		 height:210px;
		 width:97%;
		 background-color:white;
		 margin-right:10px;
		 margin-top:20px;
		 align-items:center;
		}
		.css
		{
		 margin-left:10px;
		
		}
		.dealf1
		{
		 height:173px;
		 width:200px;
		}
		.dealf2
		{
		 height:173px;
		 width:190px;
		}
		.dealf3
		{
		 height:153px;
		 width:190px;
		}
		.dealf4
		{
		 height:50px;
		 width:30px;
		}
		.dealf5
		{
		 height:173px;
		 width:180px;
		}
		.dealf6
		{
		 height:170px;
		 width:190px;
		}
		.dealf7
		{
		 height:160px;
		 width:160px;
		}
		.dealf8
		{
		 height:153px;
		 width:180px;
		}
		.dealf9
		{
		 height:90px;
		 width:30px;
		}
		.dealf10
		{
		 height:150px;
		 width:170px;
		}
		.shopg
		{
		 margin-top:30px;
		 margin-right:40px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:360px;
		 width:97%;
		 background-color:white;
		}
		.dealg
		{
		 border:2px solid white;
		 background-color:white;
		 height:300px;
		 width:97%;
		 display:flex;
		 margin-left:10px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.dealg::-webkit-scrollbar
		{
		 display:none;
		}
		.dealgitems
		{
		 height:300px;
		 width:100%;
		 background-color:white;
		 margin-right:10px;
		 margin-top:20px;
		 align-items:center;
		}
		.css
		{
		 margin-left:10px;
		 width:300px;
		 height:200px;
		 background-size:cover;
		}
		.dealg1
		
		 height:250px;
		 width:270px;
		}
		.dealg2
		{
		 height:250px;
		 width:270px;
		}
		.dealg3
		{
		 height:250px;
		 width:270px;
		}
		.dealg4
		{
		 height:250px;
		 width:270px;
		}
		.dealg5
		{
		 height:250px;
		 width:270px;
		}
		.dealg6
		{
		 height:250px;
		 width:270px;
		}
		.dealg7
		{
		 height:250px;
		 width:270px;
		}
		.dealg8
		{
		 height:250px;
		 width:270px;
		}
		.dealg9
		{
		 height:250px;
		 width:270px;
		}
		.dealg10
		{
		 height:250px;
		 width:270px;
		}
		.shoph
		{
		 justify-content:space-evenly;
		 display:flex;
		 width:97%;
		 margin-top:100px;
		 margin-left:10px;
		}
		.boxh
		{
		 margin-left:20px;
		 border:2px solid white ;
		 height:450px;
		 width:100%;
		 background-color:white;
		
		}
		.divh1
		{
		 margin-left:20px;
		 margin-top:15px;
		 margin-right:10px;
		 margin-bottom:20px;
		 width:300px;
		 height:280px;
		}
		
		.divh2
		{
		 margin-left:20px;
		 margin-top:15px;
		 margin-right:10px;
		 margin-bottom:20px;
		 width:315px;
		 height:280px;
		}
		.divh3
		{
		 margin-left:20px;
		 margin-top:15px;
		 margin-right:10px;
		 margin-bottom:20px;
		 width:310px;
		 height:280px;
		}
		.divh4
		{
		 margin-left:25px;
		 margin-top:15px;
		 margin-right:10px;
		 margin-bottom:20px;
		 width:300px;
		 height:280px;
		}
	
		.shopi
		{
		 margin-top:30px;
		 margin-right:40px;
		 margin-left:20px;
		 border:2px solid black transparent;
		 height:300px;
		 width:97%;
		 background-color:white;
		}
		.deali
		{
		 border:2px solid white;
		 background-color:white;
		 height:240px;
		 width:97%;
		 display:flex;
		 margin-left:10px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.deali::-webkit-scrollbar
		{
		 display:none;
		}
		.dealiitems
		{
		 height:300px;
		 width:100%;
		 background-color:white;
		 margin-right:10px;
		 margin-top:20px;
		 align-items:center;
		}
		.css
		{
		 margin-left:10px;
		 width:300px;
		 height:200px;
		 background-size:cover;
		}
		.i1
		{
		 height:200px;
		 width:190px;
		}
		.i2
		{
		 height:210px;
		 width:230px;
		}
		.i3
		{
		 height:200px;
		 width:175px;
		}
		.i4
		{
		 height:200px;
		 width:200px;
		}
		.i5
		{
		 height:200px;
		 width:200px;
		}
		.i6
		{
		 height:200px;
		 width:250px;
		}
		.i7
		{
		 height:200px;
		 width:200px;
		}
		.i8
		{
		 height:200px;
		 width:200px;
		}
		.shopk
		{
		 justify-content:space-evenly;
		 display:flex;
		 width:98%;
		}
		.boxk
		{
		 margin-left:20px;
		 border:2px solid white ;
		 height:450px;
		 width:100%;
		 background-color:white;
		 margin-top:50px;
		}
		.offer
		{
		 margin-top:20px;
		}
		.div1
		{
		 display:flex;
		 margin-left:15px;
		 margin-top:15px;
		}
		.k1a
		{
		 width:145px;
		 height:105px;
		}
		.k1b
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.div2
		{
		 display:flex;
		 margin-top:20px;
		 margin-left:15px;
		 margin-botton:30px;
		}
		.k1c
		{
		 width:145px;
		 height:105px;
		}
		.k1d
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k2a
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k2b
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k2c
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k2d
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k3a
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k3b
		{
		 margin-left:0px;
		 width:135px;
		 height:105px;
		}
		.k3c
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k3d
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k4a
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k4b
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k4c
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.k4d
		{
		 margin-left:20px;
		 width:145px;
		 height:105px;
		}
		.shopl
		{
		 height:400px;
		 width:98%;
		 margin-top:20px;
		 margin-left:10px;
		}
		.dealheadl
		{
		 margin-left:15px;
		 margin-top:5px;
		 margin-down:0px;
		 height:60px;
		 width:98%;
		 background-color:white;
		 border:2px solid white ;
		 align-items:center;
		 font-family:Arial,sans-serif;
		 font-size:0.9rem;
		}
		.deall
		{
		 border:2px solid white;
		 background-color:white;
		 height:300px;
		 width:100%;
		 display:flex;
		 margin-left:0px;
		 margin-top:5px;
		 overflow-x:scroll;
		 overflow-y:hidden;
		}
		.deall::-webkit-scrollbar
		{
		 display:none;
		}
		.deallitems
		{
		 height:250px;
		 width:100%;
		 background-color:white;
		 margin-right:10px;
		 margin-top:20px;
		 align-items:center;
		 margin-left:10px;
		}
		.cssl
		{
		 margin-left:10px;
		 width:300px;
		 height:200px;
		 background-size:cover;
		}
		.l1
		{
		 height:240px;
		 width:270px;
		}
		.l2
		{
		 height:240px;
		 width:270px;
		}
		.l3
		{
		 height:240px;
		 width:270px;
		}
		.l4
		{
		 height:240px;
		 width:270px;
		}
		.l5
		{
		 height:240px;
		 width:270px;
		}
		.l6
		{
		 height:240px;
		 width:270px;
		}
		.l7
		{
		 height:240px;
		 width:270px;
		}
		.l8
		{
		 height:240px;
		 width:270px;
		}
		
		.footer
		{
		margin-top:10px;
		}
		.footpannel1
		{
		 background-color:white;
		 
		 height:150px;
		 justify-content:center;
		 align-items:center;
		 font-size:0.9rem;
		}
		.signin
		{
		 margin-left:43%;
		 margin-right:43%;
		 margin-top:90px;
		 height:60px;
		 width:350px;
		 font-size:1.0rem;
		}
		.signinbox
		{
		 height:40px;
		 width:190px;
		 background-color:gold;
		 border:2px solid:yellow;
		 border-radius:10%;
		 font-size:1.0rem;
		}
		.footpannel2
		{
		 background-color:#37475a;
		 color:white;
		 height:50px;
		 display:flex;
		 justify-content:center;
		 align-items:center;
		 font-size:0.9rem;
		}
		.footpannel3
		{
		 background-color:#222f3d;
		 color:white;
		 height:300px;
		 display:flex;
		 justify-content:space-evenly;
		}
		ul
		{
		 margin-top:20px;
		}
		ul a
		{
		 display:block;
		 margin-top:10px;
		 color:#dddddd;
		 font-size:0.85rem;
		 font-family:Arial,sans-serif;
		}
		ul p
		{
		 font-size:1.05rem; 
		 font-family:Arial,sans-serif;		
		}
		.footpannel4
		{
		 background-color:#222f3d;
		 color:white;
		 height:180px;
		 border-top:0.5px solid white;
		 
		 justify-content:space-evenly;
		}
		.footlogo
		{
		 height:50px;
		 width:100px;
		 margin-top:40px;
		 margin-left:40%;
		} 
		.footcountry
		{
		 display:flex;
		 margin-top:10px;
		 margin-left:100px;
		 align-items:center;
		}

		.footpannel5
		{
		 background-color:#0f1111;
		 color:white;
		 height:280px;
		 border-top:0.5px solid white;
		 justify-content:space-evenly;
		 align-items:center;
		}
		.page1
		{
		 margin-top:20px;
		 display:flex;
 		 justify-content:space-evenly;
		 align-items:center;
		}
		.page2
		{
		 display:flex;
		 justify-content:space-evenly;
		 align-items:center;
		 
		}
		.page3
		{
		 margin-left:40%;
		 margin-top:20px;
		 justify-content:center;
		 align-items:center;
		}
